<!-- ================= ABOUT  ================= -->
<section class="section-padding about clearfix" id="about">
  <!-- Floating Particles -->
  <img src="images/particles/triangle_1.svg" alt="triangle" class="particle pos_a" data-rellax-speed="2" data-rellax-percentage="0.5" />
  <img src="images/particles/triangle_1.svg" alt="triangle" class="particle pos_c" data-rellax-speed="2" data-rellax-percentage="0.5" />
  <img src="images/particles/triangle_4.svg" alt="triangle" class="particle pos_d" data-rellax-speed="1" data-rellax-percentage="0.5" />
  <img src="images/particles/triangle_5.svg" alt="triangle" class="particle pos_e" data-rellax-speed="3" data-rellax-percentage="0.5" />
  <img src="images/particles/circle_1.svg" alt="circle" class="particle pos_f" data-rellax-speed="4" data-rellax-percentage="0.5" />
  <img src="images/particles/circle_2.svg" alt="circle" class="particle pos_g" data-rellax-speed="2" data-rellax-percentage="0.5" />
  <img src="images/particles/circle_5.svg" alt="circle" class="particle pos_i" data-rellax-speed="1" data-rellax-percentage="0.5" />
  <!-- // end .particles -->
  <div class="container">
      <div class="row">
          <div class="band-wrap">
              <div class="col-12"> 
                  <h2 class="section-title">Tracklist</h2>
                  <p class="section-subtitle">Chicago producer </p>
                  <iframe id="mfs_html5" src="https://airbit.com/widgets/html5/?uid=232159&config=444158" width="100%" height="510" frameborder="0" scrolling="no"></iframe>     
                </div>
          </div>
      </div>
  </div>
 </section> 
<!-- // ABOUT END -->


<!-- ================= OUR ADMIRE 01 ================= -->
<section class="admire clearfix" id="featured-album">
  <div class="object-fit-container">
      <!-- <a href="javascript:;" class="audio-play-btn" data-playlist-id="10"> -->
          <img src="images/admire-bg.jpg" class="img-responsive compact-img" alt="admire-bg">
          <!-- <span class="flaticon-play-1 album-play-button"></span> -->
      <!-- </a> -->
  </div>
  <div class="container">
      <div class="row">
          <div class="col-md-7 col-md-push-5">
              <div class="admire-block">
                  <a href="https://www.youtube.com/channel/UCrw-PBSoyuRf371ikcyG9KA" class="admire-title"><h3>Youtube Channel</h3></a>
                  <h5 class="admire-subtitle">Subsribe</h5>
                  <!-- <ul class="star-review">
                      <li><i class="flaticon-favorite"></i></li>
                      <li><i class="flaticon-favorite"></i></li>
                      <li><i class="flaticon-favorite"></i></li>
                      <li><i class="flaticon-favorite"></i></li>
                      <li><i class="flaticon-favorite"></i></li>
                  </ul> -->
                  <!-- <p class="admire-subtitle02">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed nibh pharetra, congue lectus at, malesuada augue. Donec tincidunt faucibus lacus. Curabitur vitae euismod lectus send me voulpalt.
                  </p> -->
                  <!-- <a href="#" class="btn btn-danger">BUY MP3 ALBUM</a>
                  <a href="#" class="btn btn-warning">BUY CD ALBUM</a> -->
              </div>
          </div>
      </div>
  </div>
</section>
<!--// OUR ADMIRE 01 END -->

<!-- ================= EVENT ================= -->
<section class="section-padding event has-parallax" id="events">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <h2 class="event-title"><span>LICENSING</span></h2>
              <p class="event-subtitle">List of options</p>
          </div>
      </div>
      <div class="row">
          <div class="event-wrap">
              <div class="event-block">
                  <!-- <div class="col-xs-12 col-sm-2 col-md-2">
                      <div class="event-date">FEB 12</div>
                  </div> -->
                  <div class="col-xs-12 col-sm-5 col-md-6">
                      <div class="event-caption">BASIC</div>
                      <p class="event-subcaption">1 Untagged MP3 File,
                        Unlimited Non Profit Use</p>
                  </div>
                  <div class="col-xs-12 col-sm-2 col-md-2">
                      <!-- <div class="event-country">Prauge</div> -->
                      <!-- <p class="event-city">Czech Republic</p> -->
                  </div>
                  <div class="col-xs-12 col-sm-3 col-md-2">
                      <a class="btn btn-info">$30</a>
                  </div>
              </div>
              <div class="clearfix"></div>
              <div class="event-block">
                <!-- <div class="col-xs-12 col-sm-2 col-md-2">
                    <div class="event-date">FEB 12</div>
                </div> -->
                <div class="col-xs-12 col-sm-5 col-md-6">
                    <div class="event-caption">MP3 + WAV</div>
                    <p class="event-subcaption">1 HQ Untagged MP3 File/Master WAV File,
                      2000 Distribution Capacity, 
                      Allowed ONE Commercial Use</p>
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <!-- <div class="event-country">Prauge</div> -->
                    <!-- <p class="event-city">Czech Republic</p> -->
                </div>
                <div class="col-xs-12 col-sm-3 col-md-2">
                    <a class="btn btn-info">$40</a>
                </div>
            </div>
            <div class="clearfix"></div>
              <div class="event-block">
                <!-- <div class="col-xs-12 col-sm-2 col-md-2">
                    <div class="event-date">FEB 12</div>
                </div> -->
                <div class="col-xs-12 col-sm-5 col-md-6">
                    <div class="event-caption">WAV TRACKOUT</div>
                    <p class="event-subcaption">1 Untagged MP3/WAV/Trackouts,
                      10000 Distribution Capacity,
                      Allowed Unlimited Commercial Use</p>
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <!-- <div class="event-country">Prauge</div> -->
                    <!-- <p class="event-city">Czech Republic</p> -->
                </div>
                <div class="col-xs-12 col-sm-3 col-md-2">
                    <a class="btn btn-info">$80</a>
                </div>
            </div>
            <div class="clearfix"></div>
              <div class="event-block">
                <!-- <div class="col-xs-12 col-sm-2 col-md-2">
                    <div class="event-date">FEB 12</div>
                </div> -->
                <div class="col-xs-12 col-sm-5 col-md-6">
                    <div class="event-caption">UNLIMITED</div>
                    <p class="event-subcaption">1 Untagged MP3 & WAV File,
                      Unlimited Distribution Capacity,
                      Allowed Unlimited Commercial Use</p>
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <!-- <div class="event-country">Prauge</div> -->
                    <!-- <p class="event-city">Czech Republic</p> -->
                </div>
                <div class="col-xs-12 col-sm-3 col-md-2">
                    <a class="btn btn-info">$120</a>
                </div>
            </div>
             
          </div>
      </div>
  </div>
</section>
<!--// EVENT END -->
<!-- ================= ALBUM ================= -->
<section class="section-padding album" id="album">
  <!-- Floating Particles -->
  <img src="images/particles/triangle_1.svg" alt="triangle" class="particle pos_c" data-rellax-speed="3" data-rellax-percentage="0.5" />
  <img src="images/particles/triangle_1.svg" alt="triangle" class="particle pos_b" data-rellax-speed="2" data-rellax-percentage="0.5" />
  <img src="images/particles/triangle_4.svg" alt="triangle" class="particle pos_d" data-rellax-speed="1" data-rellax-percentage="0.5" />
  <img src="images/particles/triangle_5.svg" alt="triangle" class="particle pos_e" data-rellax-speed="4" data-rellax-percentage="0.5" />
  <img src="images/particles/circle_1.svg" alt="circle" class="particle pos_a" data-rellax-speed="2" data-rellax-percentage="0.5" />
  <img src="images/particles/circle_2.svg" alt="circle" class="particle pos_f" data-rellax-speed="3" data-rellax-percentage="0.5" />
  <div class="container">
      <!-- // end .atvImg -->
      <div class="row">
          <div class="col-md-12">
              <div class="album-wrap">
                  <h2 class="album-title"><span>ALBUM</span></h2>
                  <p class="album-subtitle">Coming Soon</p>
                  <div class="row">
                      <div class="col-md-4">
                          <a  class="album-cover">
                              <div class="atvImg">
                                  <img src="images/album-img-01.jpg" class="img-responsive" alt="album">
                                  <div class=" atvImg-layer" data-img="images/album-img-01.jpg"></div>
                              </div>
                          </a>
                          <div class="album-block">
                              <span class="album-block-title">Hate To Love</span>
                              <p class="album-block-subtitle">Coming Soon</p>
                          </div>
                      </div>
                      <!-- // end .col-md-4 -->
                      <div class="col-md-4">
                          <a  class="album-cover">
                              <div class="atvImg">
                                  <img src="images/album-img-01.jpg" class="img-responsive" alt="album">
                                  <div class="atvImg-layer" data-img="images/album-img-02.jpg"></div>
                              </div>
                          </a>
                          <div class="album-block">
                              <span class="album-block-title">The Neon Wolf</span>
                              <p class="album-block-subtitle">Coming Soon</p>
                          </div>
                      </div>
                      <!-- // end .col-md-4 -->
                      <div class="col-md-4">
                          <a class="album-cover">
                              <div class="atvImg">
                                  <img src="images/album-img-01.jpg" class="img-responsive" alt="album">
                                  <div class="atvImg-layer" data-img="images/album-img-03.jpg"></div>
                              </div>
                          </a>
                          <div class="album-block">
                              <span class="album-block-title">XXX</span>
                              <p class="album-block-subtitle">Coming Soon</p>
                          </div>
                      </div>
                      <!-- // end .col-md-4 -->
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!--// ALBUM END -->

<!-- ================= PHOTOS ================= -->
<!-- <section class="section-padding photos" id="gallery">
  <img src="/main/images/particles/triangle_1.svg" alt="triangle" class="particle pos_f" data-rellax-speed="3" data-rellax-percentage="0.5" />
  <img src="/main/images/particles/triangle_4.svg" alt="triangle" class="particle pos_d" data-rellax-speed="1" data-rellax-percentage="0.5" />
  <img src="/main/images/particles/triangle_5.svg" alt="triangle" class="particle pos_e" data-rellax-speed="3" data-rellax-percentage="0.5" />
  <img src="/main/images/particles/circle_1.svg" alt="circle" class="particle pos_a" data-rellax-speed="4" data-rellax-percentage="0.5" />
  <img src="/main/images/particles/circle_2.svg" alt="circle" class="particle pos_c" data-rellax-speed="3" data-rellax-percentage="0.5" />
  <img src="/main/images/particles/circle_3.svg" alt="circle" class="particle pos_j" data-rellax-speed="3" data-rellax-percentage="0.5" />
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <h2 class="photos-title"><span>Prinxe | XXV</span></h2>
          </div>
          <div class="clearfix"></div>
          <div class="col-md-12">
              <div class="rotation-wrap">
                  <div class="photos-wrap">
                      <ul>
                          <li>
                              <a href="/main/images/hover-img1.jpg" class="image-link"><img src="images/img01.jpg" class="img-responsive" alt="rotate-img1"></a>
                          </li>
                          <li>
                              <a href="/main/images/hover-img2.jpg" class="image-link"><img src="images/img02.jpg" class="img-responsive" alt="rotate-img2"></a>
                          </li>
                          <li>
                              <a href="/main/images/hover-img-3.jpg" class="image-link"><img src="images/img03.jpg" class="img-responsive" alt="rotate-img3"></a>
                          </li>
                          <li>
                              <a href="/main/images/hover-img-4.jpg" class="image-link"><img src="images/img04.jpg" class="img-responsive" alt="rotate-img4"></a>
                          </li>
                      </ul>
                  </div>
                  <div class="img-rotation clearfix">
                      <ul>
                          <li>
                              <a href="/main/images/hover-img-5.jpg" class="image-link"><img src="images/img05.jpg" class="img-responsive" alt="rotate-img5"></a>
                          </li>
                          <li>
                              <a href="/main/images/hover-img-6.jpg" class="image-link"><img src="images/img06.jpg" class="img-responsive" alt="rotate-img6"></a>
                          </li>
                          <li>
                              <a href="/main/images/hover-img-7.jpg" class="image-link"><img src="images/img07.jpg" class="img-responsive" alt="rotate-img7"></a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section> -->
<!--// PHOTOS END -->
<!-- ================= FAN PAGE ================= -->
<!-- <section class="section-padding our-clients has-parallax" id="clients">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <h2 class="fan-page-title"><span>FAN PAGE</span></h2>
          </div>
          <div class="col-md-12">
              <div class="fan-slider-wrap clearfix">
                  <div class="slider">
                      <div class="tabs">
                          <div class="tab">
                              <div class="fan-slide">
                                  <span class="fan-title">Like a snapshot taken at twilight, their 
                                                          music is a photograph of a landscape caught at perpetual dusk.</span>
                                  <span>— Citation, ABC Inc</span>
                              </div>
                          </div>
                          <div class="tab">
                              <div class="fan-slide">
                                  <span class="fan-title">Music is a higher revelation 
                                                              than all wisdom and philosphy. 
                                                              Music is the electrical soil 
                                                              in which the spirit lives</span>
                                  <span>— Ludwig van Beethoven</span>
                              </div>
                          </div>
                          <div class="tab">
                              <div class="fan-slide">
                                  <span class="fan-title">Music gives a soul to the universe, 
                                                                  wings to the mind, flight to the imagination, 
                                                                  and life to everything.</span>
                                  <span>— Plato</span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12">
              <div class="clearfix"></div>
              <div class="twitter-feed-wrap">
                  <ul class="twitter-feed">
                      <li class="twitter-listing">
                          <div class="embed-tweet-item wow fadeInLeft">
                              <blockquote class="twitter-tweet" data-cards="hidden" lang="en" data-width="550" data-link-color="#4eae49" data-align="center">
                                  <a href="https://twitter.com/katyperry/status/691023759667400704"></a>
                              </blockquote>
                          </div>
                      </li>
                      <li class="twitter-listing">
                          <div class="embed-tweet-item wow fadeInUp">
                              <blockquote class="twitter-tweet" data-cards="hidden" lang="en" data-width="550" data-link-color="#4eae49" data-align="center">
                                  <a href="https://twitter.com/OfficiaIKanye/status/869658704878153730"></a>
                              </blockquote>
                          </div>
                      </li>
                      <li class="twitter-listing">
                          <div class="embed-tweet-item wow fadeInRight">
                              <blockquote class="twitter-tweet" data-cards="hidden" lang="en" data-width="550" data-link-color="#4eae49" data-align="center">
                                  <a href="https://twitter.com/taylorswift13/status/720851708859916288"></a>
                              </blockquote>
                          </div>
                      </li>
                      <li class="twitter-listing">
                          <div class="embed-tweet-item wow fadeInLeft">
                              <blockquote class="twitter-tweet" data-cards="hidden" lang="en" data-width="550" data-link-color="#4eae49" data-align="center">
                                  <a href="https://twitter.com/britneyspears/status/615666740295532544"></a>
                              </blockquote>
                          </div>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</section> -->
<!--// FAN PAGE END -->
<!-- ================= CONTACT ================= -->
<section class="section-padding contact" id="contact">
  <!-- Floating Particles -->
  <img src="images/particles/triangle_1.svg" alt="triangle" class="particle pos_a" data-rellax-speed="2" data-rellax-percentage="0.5" />
  <img src="images/particles/triangle_1.svg" alt="triangle" class="particle pos_c" data-rellax-speed="2" data-rellax-percentage="0.5" />
  <img src="images/particles/triangle_4.svg" alt="triangle" class="particle pos_d" data-rellax-speed="1" data-rellax-percentage="0.5" />
  <img src="images/particles/triangle_5.svg" alt="triangle" class="particle pos_e" data-rellax-speed="3" data-rellax-percentage="0.5" />
  <img src="images/particles/circle_1.svg" alt="circle" class="particle pos_f" data-rellax-speed="4" data-rellax-percentage="0.5" />
  <img src="images/particles/circle_2.svg" alt="circle" class="particle pos_g" data-rellax-speed="2" data-rellax-percentage="0.5" />
  <img src="images/particles/circle_5.svg" alt="circle" class="particle pos_j" data-rellax-speed="1" data-rellax-percentage="0.5" />
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <h2 class="contact-title"><span>Contact</span></h2>
              <!-- <p class="contact-subtitle">Love to see our show near your location? or just want to say hello? or something else? Send us an email below. We’d love to hear from you.</p> -->
          </div>
          <div class="col-md-12">
              <div class="contact-form">
                  <app-message-input></app-message-input>
              </div>
          </div>
      </div>
  </div>
</section>

<!--// CONTACT END -->

